.doku-board {
  & .doku-row:nth-of-type(3n+3) {
    margin-bottom: .25rem;
  }

  & .doku-cell:nth-of-type(3n+3) {
    margin-right: .25rem;
  }

  & .doku-cell {
    aspect-ratio: 1;

    & .MuiFormControl-root, & .MuiInputBase-root {
      height: 100%;
    }

    &.selected .MuiPaper-root.MuiCard-root {
      background-color: color-mix(in srgb, var(--mui-palette-success-main) 25%, transparent);
    }

    &.relative .MuiPaper-root {
      background-color: color-mix(in srgb, var(--mui-palette-primary-main) 10%, transparent);
    }
  }
}

.MuiPaper-root {
  backdrop-filter: blur(3px);
}

h1 {
  margin: 0;
}

.shapley-shape.hex-link {
  background-color: var(--mui-palette-primary-main);
  --shapley-stroke-width: .01;
  --shapley-stroke-color: var(--mui-palette-common-onBackground);
  color: var(--mui-palette-primary-contrastText);
  align-items: stretch;

  & > a, & > button {
    flex-grow: 1;
    display: flex;
  }

  &.success {
    background-color: var(--mui-palette-success-main);
    color: var(--mui-palette-success-contrastText);

    &:hover {
      background-color: color-mix(in srgb, var(--mui-palette-success-main) 80%, var(--mui-palette-success-contrastText) 20%);
    }
  }

  &.selected {
    background-color: var(--mui-palette-primary-dark);
    color: var(--mui-palette-primary-contrastText);
  }

  &:hover {
    background-color: color-mix(in srgb, var(--mui-palette-primary-main) 80%, var(--mui-palette-primary-contrastText) 20%);
  }

  & svg {
    color: var(--mui-palette-primary-contrastText);
  }

  &:has(.MuiButtonBase-root:disabled) {
    background-color: var(--mui-palette-action-disabledBackground);
    color: var(--mui-palette-action-disabled);
  }

  & .MuiButtonBase-root:disabled {
    filter: blur(2px);
  }
}

.shapley-shape {
  aspect-ratio: var(--shapley-aspect-ratio);
  clip-path: var(--shapley-clip);
  filter: var(--shapley-filter, none) default;
  visibility: hidden;
  color: inherit;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;

  & > svg.shapley-shape-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
  }

  & use {
    fill: var(--shapley-bg-color, transparent);
    stroke: var(--shapley-stroke-color, transparent);
    stroke-width: var(--shapley-stroke-width, 0);
    stroke-linejoin: var(--shapley-stroke-linejoin, round) default;
    stroke-linecap: var(--shapley-stroke-linecap, round) default;
  }
}

.shape-cache {
  width: 0 !important;
  height: 0 !important;
  position: fixed !important;
  overflow: hidden !important;
}

.shapley-grid {
  justify-content: start;
  max-width: 100%;
  max-height: 100%;
  display: grid;

  & > svg {
    display: none;
  }
}

.shapley-grid-cell.shapley-shape {
  box-sizing: border-box;
  aspect-ratio: var(--shapley-aspect-ratio);
  grid-column-start: var(--grid-column, 0);
  grid-column-end: span var(--shape-width, 1);
  grid-row-start: var(--grid-row, 0);
  grid-row-end: span var(--shape-height, 1);
  clip-path: var(--shapley-clip);
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  display: flex;
  position: relative;

  & > :not(svg:first-of-type) {
    z-index: 1;
  }

  & > svg:first-of-type {
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: var(--shapley-filter, none) default;
    position: absolute;
    inset: 0;

    & path {
      fill: var(--shapley-bg-color, none) default;
      stroke: var(--shapley-stroke-color, none) default;
      stroke-width: var(--shapley-stroke-width, 3) default;
      stroke-linejoin: var(--shapley-stroke-linejoin, none) default;
      stroke-linecap: var(--shapley-stroke-linecap, round) default;
    }
  }
}
/*# sourceMappingURL=doku.31c32b8f.css.map */
