/*
Needs to have more specificity. 

I noticed Mui references using @layer to create a named layer which always yields styling to overwriting anonymous css. 

I will have to look into it further for api.
*/
.shapley-shape.hex-link{
	background-color: var(--mui-palette-primary-main);
	/*align-items: stretch;*/
	--shapley-stroke-width: 0.01;
	--shapley-stroke-color: var(--mui-palette-common-onBackground);
	color: var(--mui-palette-primary-contrastText);
	align-items: stretch;
	& > a, & > button {
		display:flex;
		flex-grow: 1;
		
	}
	&.success{
		background-color: var(--mui-palette-success-main);
		color: var(--mui-palette-success-contrastText);
		&:hover{
			background-color: color-mix(in srgb, var(--mui-palette-success-main) 80%, var(--mui-palette-success-contrastText) 20%);
		}
	}
	&.selected{
		background-color: var(--mui-palette-primary-dark);
		color: var(--mui-palette-primary-contrastText);
	}
	&:hover{
		background-color: color-mix(in srgb, var(--mui-palette-primary-main) 80%, var(--mui-palette-primary-contrastText) 20%);
	}
	svg{
		color: var(--mui-palette-primary-contrastText);
	}
	&:has(.MuiButtonBase-root:disabled){
		background-color: var(--mui-palette-action-disabledBackground);
		color: var(--mui-palette-action-disabled);
	}
	.MuiButtonBase-root:disabled{
		filter: blur(2px)
	}
}
